[submodule "ia-trainner-frontend-angular"]
	path = apps/frontend
	url = https://github.com/DevViking-Persike/ia-trainner-frontend-angular.git
[submodule "ia-trainner-backend-dotnet"]
	path = services/backend
	url = https://github.com/DevViking-Persike/ia-trainner-backend-dotnet.git
[submodule "estudos-finetuning-py"]
	path = services/training-python
	url = https://github.com/DevViking-Persike/estudos-finetuning-py.git
[submodule "ia-trainner-microservice-go"]
	path = legacy/backend-go
	url = https://github.com/DevViking-Persike/ia-trainner-microservice-go.git
	update = none
[submodule "ia-trainner-microservice-keycloak-dotnet"]
	path = legacy/auth-keycloak-dotnet
	url = https://github.com/DevViking-Persike/ia-trainner-microservice-keycloak-dotnet.git
	update = none
[submodule "ia-trainner-sql-ddl"]
	path = database/ia-trainner-sql-ddl
	url = https://github.com/DevViking-Persike/ia-trainner-sql-ddl.git
[submodule "ia-trainner-sql-dml"]
	path = database/ia-trainner-sql-dml
	url = https://github.com/DevViking-Persike/ia-trainner-sql-dml.git
